# --- MariaDB ---
MARIADB_ROOT_PASSWORD=pass_root
MARIADB_DATABASE=ft_transcendence
MARIADB_USER=ft_user
MARIADB_PASSWORD=pass_user

# --- Prisma (string de conexão que o backend usa) ---
DATABASE_URL="mysql://ft_user:pass_user@mariadb:3306/ft_transcendence"

# --- Backend ---
BACKEND_PORT=4000
JWT_SECRET=super_secret_key
NODE_ENV=development

# --- Frontend ---
FRONTEND_PORT=5173
VITE_API_URL=/api

# --- Uncomment this to allow running on 42 computers (they block the original 443/80 ports)
#HTTPS_PORT=8443
#HTTP_PORT=8080
# If this is changed, we need to add the port to the "Redirect URI" in the API settings to https://localhost:HTTPS_PORT/api/auth/42/callback

# --- 42 OAuth 2.0 ---
FORTYTWO_CLIENT_ID=client_id
FORTYTWO_CLIENT_SECRET=client_secret
FORTYTWO_CALLBACK_URL=https://localhost/api/auth/42/callback
# To allow 42 login from other machines on the network:
# 1. Replace "localhost" above with the IP of the host machine (e.g. https://192.168.0.1/api/auth/42/callback)
# 2. Add the same URL as a "Redirect URI" in the 42 API settings